<div class="fixed-bottom bg-body-tertiary">
  <div class="container overflow-hidden text-center">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3">
        Github: <a href="https://github.com/Carlos-DMS" target="_blank">Carlos-DMS</a>
      </div>
      </div>
      <div class="col">
        <div class="p-3">
          LinkedIn: <a href="https://www.linkedin.com/in/carlos-daniel-martins-sanguino-72b46a2a0" target="_blank">Carlos Sanguino</a>
        </div>
      </div>
    </div>
  </div>
</div>
