<form class="d-flex mb-3" role="search" (ngSubmit)="filtrarPessoas()">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Procurar pessoa por nome"
    aria-label="Search"
    [(ngModel)]="termoBusca"
    name="termoBusca"
  >
  <button class="btn btn-outline-primary" type="submit">Procurar</button>
</form>

<app-table-pessoas-contatos [pessoas]="pessoasFiltradas || pessoas" />

<div class="text-center mt-3">
  <button
    type="button"
    class="btn btn-primary btn-lg"
    routerLink="/cadastrar-pessoa"
  >
    <i class="fa fa-user" aria-hidden="true"></i>
    <i class="fa fa-plus" aria-hidden="true"></i>
     Cadastrar pessoa
  </button>
</div>
